<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002/V02, Spring 2024</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 4 Examples</span>
</center></i>

__Note:__ Modifying width of cells for wider displays.

# Setup

In [1]:
%load_ext sql

In [2]:
import pymysql

In [3]:
import pandas

In [4]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [5]:
conn = pymysql.connect(host="localhost", user="root", password="dbuserdbuser")

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

# Complex Attributes

## Some Sample Data

- Consider ```name_basics``` from the IMDB dataset.<br><br>
- This data set is too large for most of your personal computers but is tiny by real world standards.<br><br>
- You would have a lot of trouble loading and using this dataset.

| <img src="./imdb_dataset.jpg" width="700px"> |
| :---: |
| __IMDB Free Dataset__ |

In [8]:
%sql use f23_imdb_raw;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [9]:
%sql select * from name_basics limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('nm0000001', 'Fred Astaire', '1899', '1987', 'soundtrack,actor,miscellaneous', 'tt0053137,tt0050419,tt0045537,tt0072308'),
 ('nm0000002', 'Lauren Bacall', '1924', '2014', 'actress,soundtrack', 'tt0117057,tt0071877,tt0038355,tt0037382'),
 ('nm0000003', 'Brigitte Bardot', '1934', None, 'actress,soundtrack,music_department', 'tt0056404,tt0049189,tt0057345,tt0054452'),
 ('nm0000004', 'John Belushi', '1949', '1982', 'actor,soundtrack,writer', 'tt0077975,tt0078723,tt0072562,tt0080455'),
 ('nm0000005', 'Ingmar Bergman', '1918', '2007', 'writer,director,actor', 'tt0050976,tt0060827,tt0083922,tt0050986'),
 ('nm0000006', 'Ingrid Bergman', '1915', '1982', 'actress,soundtrack,producer', 'tt0036855,tt0038787,tt0034583,tt0038109'),
 ('nm0000007', 'Humphrey Bogart', '1899', '1957', 'actor,soundtrack,producer', 'tt0042593,tt0037382,tt0034583,tt0043265'),
 ('nm0000008', 'Marlon Brando', '1924', '2004', 'actor,soundtrack,director', 'tt0070849,tt0078788,tt0068646,tt0047296'),
 ('nm0000009', 'Richard Burton', '1925', '1984', 'actor,soundtrack,producer', 'tt0061184,tt0059749,tt0057877,tt0087803'),
 ('nm0000010', 'James Cagney', '1899', '1986', 'actor,soundtrack,director', 'tt0029870,tt0042041,tt0035575,tt0031867'),
 ('nm0000011', 'Gary Cooper', '1901', '1961', 'actor,soundtrack,stunts', 'tt0027996,tt0034167,tt0035896,tt0044706'),
 ('nm0000012', 'Bette Davis', '1908', '1989', 'actress,soundtrack,make_up_department', 'tt0056687,tt0035140,tt0031210,tt0042192'),
 ('nm0000013', 'Doris Day', '1922', '2019', 'soundtrack,actress,producer', 'tt0045591,tt0049470,tt0048317,tt0053172'),
 ('nm0000014', 'Olivia de Havilland', '1916', '2020', 'actress,soundtrack', 'tt0029843,tt0031381,tt0040806,tt0041452'),
 ('nm0000015', 'James Dean', '1931', '1955', 'actor,miscellaneous', 'tt0039123,tt0048545,tt0049261,tt0048028'),
 ('nm0000016', 'Georges Delerue', '1925', '1992', 'composer,soundtrack,music_department', 'tt0096320,tt8847712,tt0069946,tt0091763'),
 ('nm0000017', 'Marlene Dietrich', '1901', '1992', 'soundtrack,actress,music_department', 'tt0021156,tt0052311,tt0055031,tt0051201'),
 ('nm0000018', 'Kirk Douglas', '1916', '2020', 'actor,producer,soundtrack', 'tt0049456,tt0054331,tt0080736,tt0043338'),
 ('nm0000019', 'Federico Fellini', '1920', '1993', 'writer,director,actor', 'tt0071129,tt0050783,tt0053779,tt0056801'),
 ('nm0000020', 'Henry Fonda', '1905', '1982', 'actor,producer,soundtrack', 'tt0051207,tt0032551,tt0050083,tt0082846')]

In [11]:
import time
start_time = time.time()

%sql create table s24_imdb_clean.name_basics as select * from name_basics;

end_time = time.time()

 * mysql+pymysql://root:***@localhost
12153584 rows affected.

In [12]:
# The elapsed time in seconds for simply making a copy of the table is
#
elapsed_time = end_time - start_time
elapsed_time

35.160690784454346

- We will cover indexes in a few minutes. Creating a primary key creates an index.

In [13]:
%%sql

use s24_imdb_clean;

alter table name_basics
    modify nconst varchar(16) null;

alter table name_basics
    add constraint name_basics_pk
        primary key (nconst);

 * mysql+pymysql://root:***@localhost
0 rows affected.
12153584 rows affected.
0 rows affected.

[]

Let's look at the performance impact of indexes, which we will cover later.

In [23]:
%sql use f23_imdb_raw;

start_time = time.time()

result = %sql select * from name_basics where nconst in ("nm0000102", "nm0000158")

end_time = time.time()

elapsed_time_raw = end_time - start_time

elapsed_time_raw

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.

3.87158203125

In [24]:
%sql use s24_imdb_clean;

start_time = time.time()

result = %sql select * from name_basics where nconst in ("nm0000102", "nm0000158")

end_time = time.time()

elapsed_time_fast = end_time - start_time

elapsed_time_fast

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
2 rows affected.

0.003226757049560547

In [27]:
print("The query without an index is ", elapsed_time_raw/elapsed_time_fast, "times slower.")
print("The difference increases expoentially with the size of the table.")

The query without an index is  1199.8368553273237 times slower.
The difference increases expoentially with the size of the table.

## Cleaning Up Composite Attribute primaryName

- For some complex cleanup, we need to use Python or some language.

In [33]:
list(result)

[('nm0000102', 'Kevin Bacon', '1958', None, 'actor,producer,soundtrack', 'tt0087277,tt0327056,tt0361127,tt0164052'),
 ('nm0000158', 'Tom Hanks', '1956', None, 'producer,actor,soundtrack', 'tt0162222,tt0094737,tt1535109,tt0109830')]

In [30]:
from nameparser import HumanName

In [41]:
new_rows = []

for r in result:
    new_r = HumanName(r[1]).as_dict()
    new_r["date_of_birth"] = r[2]
    new_r["date_of_death"] = r[3]
    new_rows.append(new_r)
    
new_rows

[{'title': '',
  'first': 'Kevin',
  'middle': '',
  'last': 'Bacon',
  'suffix': '',
  'nickname': '',
  'date_of_birth': '1958',
  'date_of_death': None},
 {'title': '',
  'first': 'Tom',
  'middle': '',
  'last': 'Hanks',
  'suffix': '',
  'nickname': '',
  'date_of_birth': '1956',
  'date_of_death': None}]

- It would be temping to just split the string at the ' ', but some are kind of complicated.

In [45]:
%%sql

complex_names << select * from name_basics
    where primaryName like "% % % %" limit 5;

 * mysql+pymysql://root:***@localhost
5 rows affected.
Returning data to local variable complex_names

In [46]:
complex_names

[('nm0000248', 'Edward D. Wood Jr.', '1924', '1978', 'writer,director,actor', 'tt0045826,tt0067479,tt0052077,tt0047127'),
 ('nm0001908', "Gilbert M. 'Broncho Billy' Anderson", '1880', '1971', 'director,actor,producer', 'tt0183803,tt0001706,tt0003719,tt0176832'),
 ('nm0002163', 'Nusrat Fateh Ali Khan', '1948', '1997', 'soundtrack,music_department,composer', 'tt0110632,tt0450259,tt1190080,tt0116409'),
 ('nm0002232', 'Erich von Stroheim Jr.', '1916', '1968', 'assistant_director,actor', 'tt0052442,tt0047767,tt0048913,tt0055423'),
 ('nm0002404', 'Richard J. Gonzales Jr.', None, None, 'miscellaneous,camera_department,editor', 'tt0417750,tt0102185,tt0249347,tt0098600')]

In [47]:
new_rows = []

for r in complex_names:
    new_r = HumanName(r[1]).as_dict()
    new_r["date_of_birth"] = r[2]
    new_r["date_of_death"] = r[3]
    new_rows.append(new_r)
    
new_rows_df = pandas.DataFrame(new_rows)
new_rows_df

,title,first,middle,last,suffix,nickname,date_of_birth,date_of_death
0,,Edward,D.,Wood,Jr.,,1924,1978
1,,Gilbert,M. 'Broncho Billy',Anderson,,,1880,1971
2,,Nusrat,Fateh Ali,Khan,,,1948,1997
3,,Erich,,von Stroheim,Jr.,,1916,1968
4,,Richard,J.,Gonzales,Jr.,,None,None

- And even with the heuristic parser, it got a nickname wrong.<br><br>
- There are more sophisticated, parameterizable parsers.

In [72]:
def move_some_rows(offset, limit):


    sql = f"select nconst, primaryName from name_basics limit {limit} offset {offset}"

    rows_to_move = %sql $sql

    rows_to_insert = []

    for r in rows_to_move:
        new_r = HumanName(r[1]).as_dict()
        new_r["nconst"] = r[0]

        for k,v in new_r.items():
            if new_r[k] == '':
                new_r[k] = None

        rows_to_insert.append(new_r)

    df = pandas.DataFrame(rows_to_insert)
    result = df.to_sql('name_basics_clean', con=engine, schema='s24_imdb_clean', if_exists='append', index=False)
    return result

In [73]:
%sql drop table if exists s24_imdb_clean.name_basics_clean

limit = 10000
offset = 0
done = False
total = 0

while not done:
    count = move_some_rows(offset, limit)
    total += count
    print(f"Moved {count} rows from {offset} to {limit} for a total of {total} rows.")
    if count < limit:
        done = True
    else:
        offset = offset + limit

 * mysql+pymysql://root:***@localhost
0 rows affected.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 0 to 10000 for a total of 10000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10000 to 10000 for a total of 20000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 20000 to 10000 for a total of 30000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 30000 to 10000 for a total of 40000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 40000 to 10000 for a total of 50000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 50000 to 10000 for a total of 60000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 60000 to 10000 for a total of 70000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 70000 to 10000 for a total of 80000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 80000 to 10000 for a total of 90000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 90000 to 10000 for a total of 100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 100000 to 10000 for a total of 110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 110000 to 10000 for a total of 120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 120000 to 10000 for a total of 130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 130000 to 10000 for a total of 140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 140000 to 10000 for a total of 150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 150000 to 10000 for a total of 160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 160000 to 10000 for a total of 170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 170000 to 10000 for a total of 180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 180000 to 10000 for a total of 190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 190000 to 10000 for a total of 200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 200000 to 10000 for a total of 210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 210000 to 10000 for a total of 220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 220000 to 10000 for a total of 230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 230000 to 10000 for a total of 240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 240000 to 10000 for a total of 250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 250000 to 10000 for a total of 260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 260000 to 10000 for a total of 270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 270000 to 10000 for a total of 280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 280000 to 10000 for a total of 290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 290000 to 10000 for a total of 300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 300000 to 10000 for a total of 310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 310000 to 10000 for a total of 320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 320000 to 10000 for a total of 330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 330000 to 10000 for a total of 340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 340000 to 10000 for a total of 350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 350000 to 10000 for a total of 360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 360000 to 10000 for a total of 370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 370000 to 10000 for a total of 380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 380000 to 10000 for a total of 390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 390000 to 10000 for a total of 400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 400000 to 10000 for a total of 410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 410000 to 10000 for a total of 420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 420000 to 10000 for a total of 430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 430000 to 10000 for a total of 440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 440000 to 10000 for a total of 450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 450000 to 10000 for a total of 460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 460000 to 10000 for a total of 470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 470000 to 10000 for a total of 480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 480000 to 10000 for a total of 490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 490000 to 10000 for a total of 500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 500000 to 10000 for a total of 510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 510000 to 10000 for a total of 520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 520000 to 10000 for a total of 530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 530000 to 10000 for a total of 540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 540000 to 10000 for a total of 550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 550000 to 10000 for a total of 560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 560000 to 10000 for a total of 570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 570000 to 10000 for a total of 580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 580000 to 10000 for a total of 590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 590000 to 10000 for a total of 600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 600000 to 10000 for a total of 610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 610000 to 10000 for a total of 620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 620000 to 10000 for a total of 630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 630000 to 10000 for a total of 640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 640000 to 10000 for a total of 650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.

Moved 10000 rows from 650000 to 10000 for a total of 660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 660000 to 10000 for a total of 670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 670000 to 10000 for a total of 680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 680000 to 10000 for a total of 690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 690000 to 10000 for a total of 700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 700000 to 10000 for a total of 710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 710000 to 10000 for a total of 720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 720000 to 10000 for a total of 730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 730000 to 10000 for a total of 740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 740000 to 10000 for a total of 750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 750000 to 10000 for a total of 760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 760000 to 10000 for a total of 770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 770000 to 10000 for a total of 780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 780000 to 10000 for a total of 790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 790000 to 10000 for a total of 800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 800000 to 10000 for a total of 810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 810000 to 10000 for a total of 820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 820000 to 10000 for a total of 830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 830000 to 10000 for a total of 840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 840000 to 10000 for a total of 850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 850000 to 10000 for a total of 860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 860000 to 10000 for a total of 870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 870000 to 10000 for a total of 880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 880000 to 10000 for a total of 890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 890000 to 10000 for a total of 900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 900000 to 10000 for a total of 910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 910000 to 10000 for a total of 920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 920000 to 10000 for a total of 930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 930000 to 10000 for a total of 940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 940000 to 10000 for a total of 950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 950000 to 10000 for a total of 960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 960000 to 10000 for a total of 970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 970000 to 10000 for a total of 980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 980000 to 10000 for a total of 990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 990000 to 10000 for a total of 1000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1000000 to 10000 for a total of 1010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1010000 to 10000 for a total of 1020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1020000 to 10000 for a total of 1030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1030000 to 10000 for a total of 1040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1040000 to 10000 for a total of 1050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1050000 to 10000 for a total of 1060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1060000 to 10000 for a total of 1070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1070000 to 10000 for a total of 1080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1080000 to 10000 for a total of 1090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1090000 to 10000 for a total of 1100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1100000 to 10000 for a total of 1110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1110000 to 10000 for a total of 1120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1120000 to 10000 for a total of 1130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1130000 to 10000 for a total of 1140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1140000 to 10000 for a total of 1150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1150000 to 10000 for a total of 1160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1160000 to 10000 for a total of 1170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1170000 to 10000 for a total of 1180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1180000 to 10000 for a total of 1190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1190000 to 10000 for a total of 1200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1200000 to 10000 for a total of 1210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1210000 to 10000 for a total of 1220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1220000 to 10000 for a total of 1230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1230000 to 10000 for a total of 1240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1240000 to 10000 for a total of 1250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1250000 to 10000 for a total of 1260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1260000 to 10000 for a total of 1270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1270000 to 10000 for a total of 1280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1280000 to 10000 for a total of 1290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1290000 to 10000 for a total of 1300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1300000 to 10000 for a total of 1310000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 1310000 to 10000 for a total of 1320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1320000 to 10000 for a total of 1330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1330000 to 10000 for a total of 1340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1340000 to 10000 for a total of 1350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1350000 to 10000 for a total of 1360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1360000 to 10000 for a total of 1370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1370000 to 10000 for a total of 1380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1380000 to 10000 for a total of 1390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1390000 to 10000 for a total of 1400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1400000 to 10000 for a total of 1410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1410000 to 10000 for a total of 1420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1420000 to 10000 for a total of 1430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1430000 to 10000 for a total of 1440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1440000 to 10000 for a total of 1450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1450000 to 10000 for a total of 1460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1460000 to 10000 for a total of 1470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1470000 to 10000 for a total of 1480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1480000 to 10000 for a total of 1490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1490000 to 10000 for a total of 1500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1500000 to 10000 for a total of 1510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1510000 to 10000 for a total of 1520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1520000 to 10000 for a total of 1530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1530000 to 10000 for a total of 1540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1540000 to 10000 for a total of 1550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1550000 to 10000 for a total of 1560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1560000 to 10000 for a total of 1570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1570000 to 10000 for a total of 1580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1580000 to 10000 for a total of 1590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1590000 to 10000 for a total of 1600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1600000 to 10000 for a total of 1610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1610000 to 10000 for a total of 1620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1620000 to 10000 for a total of 1630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1630000 to 10000 for a total of 1640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1640000 to 10000 for a total of 1650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1650000 to 10000 for a total of 1660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1660000 to 10000 for a total of 1670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1670000 to 10000 for a total of 1680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1680000 to 10000 for a total of 1690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1690000 to 10000 for a total of 1700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1700000 to 10000 for a total of 1710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1710000 to 10000 for a total of 1720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1720000 to 10000 for a total of 1730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1730000 to 10000 for a total of 1740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1740000 to 10000 for a total of 1750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1750000 to 10000 for a total of 1760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1760000 to 10000 for a total of 1770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1770000 to 10000 for a total of 1780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1780000 to 10000 for a total of 1790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1790000 to 10000 for a total of 1800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1800000 to 10000 for a total of 1810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1810000 to 10000 for a total of 1820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1820000 to 10000 for a total of 1830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1830000 to 10000 for a total of 1840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1840000 to 10000 for a total of 1850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1850000 to 10000 for a total of 1860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1860000 to 10000 for a total of 1870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1870000 to 10000 for a total of 1880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1880000 to 10000 for a total of 1890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1890000 to 10000 for a total of 1900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1900000 to 10000 for a total of 1910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1910000 to 10000 for a total of 1920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1920000 to 10000 for a total of 1930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1930000 to 10000 for a total of 1940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1940000 to 10000 for a total of 1950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1950000 to 10000 for a total of 1960000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 1960000 to 10000 for a total of 1970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1970000 to 10000 for a total of 1980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1980000 to 10000 for a total of 1990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 1990000 to 10000 for a total of 2000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2000000 to 10000 for a total of 2010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2010000 to 10000 for a total of 2020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2020000 to 10000 for a total of 2030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2030000 to 10000 for a total of 2040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2040000 to 10000 for a total of 2050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2050000 to 10000 for a total of 2060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2060000 to 10000 for a total of 2070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2070000 to 10000 for a total of 2080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2080000 to 10000 for a total of 2090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2090000 to 10000 for a total of 2100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2100000 to 10000 for a total of 2110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2110000 to 10000 for a total of 2120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2120000 to 10000 for a total of 2130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2130000 to 10000 for a total of 2140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2140000 to 10000 for a total of 2150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2150000 to 10000 for a total of 2160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2160000 to 10000 for a total of 2170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2170000 to 10000 for a total of 2180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2180000 to 10000 for a total of 2190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2190000 to 10000 for a total of 2200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2200000 to 10000 for a total of 2210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2210000 to 10000 for a total of 2220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2220000 to 10000 for a total of 2230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2230000 to 10000 for a total of 2240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2240000 to 10000 for a total of 2250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2250000 to 10000 for a total of 2260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2260000 to 10000 for a total of 2270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2270000 to 10000 for a total of 2280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2280000 to 10000 for a total of 2290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2290000 to 10000 for a total of 2300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2300000 to 10000 for a total of 2310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2310000 to 10000 for a total of 2320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2320000 to 10000 for a total of 2330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2330000 to 10000 for a total of 2340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2340000 to 10000 for a total of 2350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2350000 to 10000 for a total of 2360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2360000 to 10000 for a total of 2370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2370000 to 10000 for a total of 2380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2380000 to 10000 for a total of 2390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2390000 to 10000 for a total of 2400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2400000 to 10000 for a total of 2410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2410000 to 10000 for a total of 2420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2420000 to 10000 for a total of 2430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2430000 to 10000 for a total of 2440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2440000 to 10000 for a total of 2450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2450000 to 10000 for a total of 2460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2460000 to 10000 for a total of 2470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2470000 to 10000 for a total of 2480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2480000 to 10000 for a total of 2490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2490000 to 10000 for a total of 2500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2500000 to 10000 for a total of 2510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2510000 to 10000 for a total of 2520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2520000 to 10000 for a total of 2530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2530000 to 10000 for a total of 2540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2540000 to 10000 for a total of 2550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2550000 to 10000 for a total of 2560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2560000 to 10000 for a total of 2570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2570000 to 10000 for a total of 2580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2580000 to 10000 for a total of 2590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2590000 to 10000 for a total of 2600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2600000 to 10000 for a total of 2610000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 2610000 to 10000 for a total of 2620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2620000 to 10000 for a total of 2630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2630000 to 10000 for a total of 2640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2640000 to 10000 for a total of 2650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2650000 to 10000 for a total of 2660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2660000 to 10000 for a total of 2670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2670000 to 10000 for a total of 2680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2680000 to 10000 for a total of 2690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2690000 to 10000 for a total of 2700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2700000 to 10000 for a total of 2710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2710000 to 10000 for a total of 2720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2720000 to 10000 for a total of 2730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2730000 to 10000 for a total of 2740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2740000 to 10000 for a total of 2750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2750000 to 10000 for a total of 2760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2760000 to 10000 for a total of 2770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2770000 to 10000 for a total of 2780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2780000 to 10000 for a total of 2790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2790000 to 10000 for a total of 2800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2800000 to 10000 for a total of 2810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2810000 to 10000 for a total of 2820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2820000 to 10000 for a total of 2830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2830000 to 10000 for a total of 2840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2840000 to 10000 for a total of 2850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2850000 to 10000 for a total of 2860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2860000 to 10000 for a total of 2870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2870000 to 10000 for a total of 2880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2880000 to 10000 for a total of 2890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2890000 to 10000 for a total of 2900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2900000 to 10000 for a total of 2910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2910000 to 10000 for a total of 2920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2920000 to 10000 for a total of 2930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2930000 to 10000 for a total of 2940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2940000 to 10000 for a total of 2950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2950000 to 10000 for a total of 2960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2960000 to 10000 for a total of 2970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2970000 to 10000 for a total of 2980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2980000 to 10000 for a total of 2990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 2990000 to 10000 for a total of 3000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3000000 to 10000 for a total of 3010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3010000 to 10000 for a total of 3020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3020000 to 10000 for a total of 3030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3030000 to 10000 for a total of 3040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3040000 to 10000 for a total of 3050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3050000 to 10000 for a total of 3060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3060000 to 10000 for a total of 3070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3070000 to 10000 for a total of 3080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3080000 to 10000 for a total of 3090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3090000 to 10000 for a total of 3100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3100000 to 10000 for a total of 3110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3110000 to 10000 for a total of 3120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3120000 to 10000 for a total of 3130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3130000 to 10000 for a total of 3140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3140000 to 10000 for a total of 3150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3150000 to 10000 for a total of 3160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3160000 to 10000 for a total of 3170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3170000 to 10000 for a total of 3180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3180000 to 10000 for a total of 3190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3190000 to 10000 for a total of 3200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3200000 to 10000 for a total of 3210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3210000 to 10000 for a total of 3220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3220000 to 10000 for a total of 3230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3230000 to 10000 for a total of 3240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3240000 to 10000 for a total of 3250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3250000 to 10000 for a total of 3260000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 3260000 to 10000 for a total of 3270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3270000 to 10000 for a total of 3280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3280000 to 10000 for a total of 3290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3290000 to 10000 for a total of 3300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3300000 to 10000 for a total of 3310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3310000 to 10000 for a total of 3320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3320000 to 10000 for a total of 3330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3330000 to 10000 for a total of 3340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3340000 to 10000 for a total of 3350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3350000 to 10000 for a total of 3360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3360000 to 10000 for a total of 3370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3370000 to 10000 for a total of 3380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3380000 to 10000 for a total of 3390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3390000 to 10000 for a total of 3400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3400000 to 10000 for a total of 3410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3410000 to 10000 for a total of 3420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3420000 to 10000 for a total of 3430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3430000 to 10000 for a total of 3440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3440000 to 10000 for a total of 3450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3450000 to 10000 for a total of 3460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3460000 to 10000 for a total of 3470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3470000 to 10000 for a total of 3480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3480000 to 10000 for a total of 3490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3490000 to 10000 for a total of 3500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3500000 to 10000 for a total of 3510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3510000 to 10000 for a total of 3520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3520000 to 10000 for a total of 3530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3530000 to 10000 for a total of 3540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3540000 to 10000 for a total of 3550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3550000 to 10000 for a total of 3560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3560000 to 10000 for a total of 3570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3570000 to 10000 for a total of 3580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3580000 to 10000 for a total of 3590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3590000 to 10000 for a total of 3600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3600000 to 10000 for a total of 3610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3610000 to 10000 for a total of 3620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3620000 to 10000 for a total of 3630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3630000 to 10000 for a total of 3640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3640000 to 10000 for a total of 3650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3650000 to 10000 for a total of 3660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3660000 to 10000 for a total of 3670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3670000 to 10000 for a total of 3680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3680000 to 10000 for a total of 3690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3690000 to 10000 for a total of 3700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3700000 to 10000 for a total of 3710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3710000 to 10000 for a total of 3720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3720000 to 10000 for a total of 3730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3730000 to 10000 for a total of 3740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3740000 to 10000 for a total of 3750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3750000 to 10000 for a total of 3760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3760000 to 10000 for a total of 3770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3770000 to 10000 for a total of 3780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3780000 to 10000 for a total of 3790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3790000 to 10000 for a total of 3800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3800000 to 10000 for a total of 3810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3810000 to 10000 for a total of 3820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3820000 to 10000 for a total of 3830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3830000 to 10000 for a total of 3840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3840000 to 10000 for a total of 3850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3850000 to 10000 for a total of 3860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3860000 to 10000 for a total of 3870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3870000 to 10000 for a total of 3880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3880000 to 10000 for a total of 3890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3890000 to 10000 for a total of 3900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3900000 to 10000 for a total of 3910000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 3910000 to 10000 for a total of 3920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3920000 to 10000 for a total of 3930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3930000 to 10000 for a total of 3940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3940000 to 10000 for a total of 3950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3950000 to 10000 for a total of 3960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3960000 to 10000 for a total of 3970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3970000 to 10000 for a total of 3980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3980000 to 10000 for a total of 3990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 3990000 to 10000 for a total of 4000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4000000 to 10000 for a total of 4010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4010000 to 10000 for a total of 4020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4020000 to 10000 for a total of 4030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4030000 to 10000 for a total of 4040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4040000 to 10000 for a total of 4050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4050000 to 10000 for a total of 4060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4060000 to 10000 for a total of 4070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4070000 to 10000 for a total of 4080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4080000 to 10000 for a total of 4090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4090000 to 10000 for a total of 4100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4100000 to 10000 for a total of 4110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4110000 to 10000 for a total of 4120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4120000 to 10000 for a total of 4130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4130000 to 10000 for a total of 4140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4140000 to 10000 for a total of 4150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4150000 to 10000 for a total of 4160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4160000 to 10000 for a total of 4170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4170000 to 10000 for a total of 4180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4180000 to 10000 for a total of 4190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4190000 to 10000 for a total of 4200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4200000 to 10000 for a total of 4210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4210000 to 10000 for a total of 4220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4220000 to 10000 for a total of 4230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4230000 to 10000 for a total of 4240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4240000 to 10000 for a total of 4250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4250000 to 10000 for a total of 4260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4260000 to 10000 for a total of 4270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4270000 to 10000 for a total of 4280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4280000 to 10000 for a total of 4290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4290000 to 10000 for a total of 4300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4300000 to 10000 for a total of 4310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4310000 to 10000 for a total of 4320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4320000 to 10000 for a total of 4330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4330000 to 10000 for a total of 4340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4340000 to 10000 for a total of 4350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4350000 to 10000 for a total of 4360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4360000 to 10000 for a total of 4370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4370000 to 10000 for a total of 4380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4380000 to 10000 for a total of 4390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4390000 to 10000 for a total of 4400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4400000 to 10000 for a total of 4410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4410000 to 10000 for a total of 4420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4420000 to 10000 for a total of 4430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4430000 to 10000 for a total of 4440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4440000 to 10000 for a total of 4450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4450000 to 10000 for a total of 4460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4460000 to 10000 for a total of 4470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4470000 to 10000 for a total of 4480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4480000 to 10000 for a total of 4490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4490000 to 10000 for a total of 4500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4500000 to 10000 for a total of 4510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4510000 to 10000 for a total of 4520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4520000 to 10000 for a total of 4530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4530000 to 10000 for a total of 4540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4540000 to 10000 for a total of 4550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4550000 to 10000 for a total of 4560000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 4560000 to 10000 for a total of 4570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4570000 to 10000 for a total of 4580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4580000 to 10000 for a total of 4590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4590000 to 10000 for a total of 4600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4600000 to 10000 for a total of 4610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4610000 to 10000 for a total of 4620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4620000 to 10000 for a total of 4630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4630000 to 10000 for a total of 4640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4640000 to 10000 for a total of 4650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4650000 to 10000 for a total of 4660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4660000 to 10000 for a total of 4670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4670000 to 10000 for a total of 4680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4680000 to 10000 for a total of 4690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4690000 to 10000 for a total of 4700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4700000 to 10000 for a total of 4710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4710000 to 10000 for a total of 4720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4720000 to 10000 for a total of 4730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4730000 to 10000 for a total of 4740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4740000 to 10000 for a total of 4750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4750000 to 10000 for a total of 4760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4760000 to 10000 for a total of 4770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4770000 to 10000 for a total of 4780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4780000 to 10000 for a total of 4790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4790000 to 10000 for a total of 4800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4800000 to 10000 for a total of 4810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4810000 to 10000 for a total of 4820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4820000 to 10000 for a total of 4830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4830000 to 10000 for a total of 4840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4840000 to 10000 for a total of 4850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4850000 to 10000 for a total of 4860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4860000 to 10000 for a total of 4870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4870000 to 10000 for a total of 4880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4880000 to 10000 for a total of 4890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4890000 to 10000 for a total of 4900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4900000 to 10000 for a total of 4910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4910000 to 10000 for a total of 4920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4920000 to 10000 for a total of 4930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4930000 to 10000 for a total of 4940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4940000 to 10000 for a total of 4950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4950000 to 10000 for a total of 4960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4960000 to 10000 for a total of 4970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4970000 to 10000 for a total of 4980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4980000 to 10000 for a total of 4990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 4990000 to 10000 for a total of 5000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5000000 to 10000 for a total of 5010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5010000 to 10000 for a total of 5020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5020000 to 10000 for a total of 5030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5030000 to 10000 for a total of 5040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5040000 to 10000 for a total of 5050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5050000 to 10000 for a total of 5060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5060000 to 10000 for a total of 5070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5070000 to 10000 for a total of 5080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5080000 to 10000 for a total of 5090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5090000 to 10000 for a total of 5100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5100000 to 10000 for a total of 5110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5110000 to 10000 for a total of 5120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5120000 to 10000 for a total of 5130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5130000 to 10000 for a total of 5140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5140000 to 10000 for a total of 5150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5150000 to 10000 for a total of 5160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5160000 to 10000 for a total of 5170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5170000 to 10000 for a total of 5180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5180000 to 10000 for a total of 5190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5190000 to 10000 for a total of 5200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5200000 to 10000 for a total of 5210000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 5210000 to 10000 for a total of 5220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5220000 to 10000 for a total of 5230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5230000 to 10000 for a total of 5240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5240000 to 10000 for a total of 5250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5250000 to 10000 for a total of 5260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5260000 to 10000 for a total of 5270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5270000 to 10000 for a total of 5280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5280000 to 10000 for a total of 5290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5290000 to 10000 for a total of 5300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5300000 to 10000 for a total of 5310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5310000 to 10000 for a total of 5320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5320000 to 10000 for a total of 5330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5330000 to 10000 for a total of 5340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5340000 to 10000 for a total of 5350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5350000 to 10000 for a total of 5360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5360000 to 10000 for a total of 5370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5370000 to 10000 for a total of 5380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5380000 to 10000 for a total of 5390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5390000 to 10000 for a total of 5400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5400000 to 10000 for a total of 5410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5410000 to 10000 for a total of 5420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5420000 to 10000 for a total of 5430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5430000 to 10000 for a total of 5440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5440000 to 10000 for a total of 5450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5450000 to 10000 for a total of 5460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5460000 to 10000 for a total of 5470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5470000 to 10000 for a total of 5480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5480000 to 10000 for a total of 5490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5490000 to 10000 for a total of 5500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5500000 to 10000 for a total of 5510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5510000 to 10000 for a total of 5520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5520000 to 10000 for a total of 5530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5530000 to 10000 for a total of 5540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5540000 to 10000 for a total of 5550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5550000 to 10000 for a total of 5560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5560000 to 10000 for a total of 5570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5570000 to 10000 for a total of 5580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5580000 to 10000 for a total of 5590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5590000 to 10000 for a total of 5600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5600000 to 10000 for a total of 5610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5610000 to 10000 for a total of 5620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5620000 to 10000 for a total of 5630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5630000 to 10000 for a total of 5640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5640000 to 10000 for a total of 5650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5650000 to 10000 for a total of 5660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5660000 to 10000 for a total of 5670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5670000 to 10000 for a total of 5680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5680000 to 10000 for a total of 5690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5690000 to 10000 for a total of 5700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5700000 to 10000 for a total of 5710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5710000 to 10000 for a total of 5720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5720000 to 10000 for a total of 5730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5730000 to 10000 for a total of 5740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5740000 to 10000 for a total of 5750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5750000 to 10000 for a total of 5760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5760000 to 10000 for a total of 5770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5770000 to 10000 for a total of 5780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5780000 to 10000 for a total of 5790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5790000 to 10000 for a total of 5800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5800000 to 10000 for a total of 5810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5810000 to 10000 for a total of 5820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5820000 to 10000 for a total of 5830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5830000 to 10000 for a total of 5840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5840000 to 10000 for a total of 5850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5850000 to 10000 for a total of 5860000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 5860000 to 10000 for a total of 5870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5870000 to 10000 for a total of 5880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5880000 to 10000 for a total of 5890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5890000 to 10000 for a total of 5900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5900000 to 10000 for a total of 5910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5910000 to 10000 for a total of 5920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5920000 to 10000 for a total of 5930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5930000 to 10000 for a total of 5940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5940000 to 10000 for a total of 5950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5950000 to 10000 for a total of 5960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5960000 to 10000 for a total of 5970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5970000 to 10000 for a total of 5980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5980000 to 10000 for a total of 5990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 5990000 to 10000 for a total of 6000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6000000 to 10000 for a total of 6010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6010000 to 10000 for a total of 6020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6020000 to 10000 for a total of 6030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6030000 to 10000 for a total of 6040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6040000 to 10000 for a total of 6050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6050000 to 10000 for a total of 6060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6060000 to 10000 for a total of 6070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6070000 to 10000 for a total of 6080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6080000 to 10000 for a total of 6090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6090000 to 10000 for a total of 6100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6100000 to 10000 for a total of 6110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6110000 to 10000 for a total of 6120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6120000 to 10000 for a total of 6130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6130000 to 10000 for a total of 6140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6140000 to 10000 for a total of 6150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6150000 to 10000 for a total of 6160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6160000 to 10000 for a total of 6170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6170000 to 10000 for a total of 6180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6180000 to 10000 for a total of 6190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6190000 to 10000 for a total of 6200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6200000 to 10000 for a total of 6210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6210000 to 10000 for a total of 6220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6220000 to 10000 for a total of 6230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6230000 to 10000 for a total of 6240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6240000 to 10000 for a total of 6250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6250000 to 10000 for a total of 6260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6260000 to 10000 for a total of 6270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6270000 to 10000 for a total of 6280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6280000 to 10000 for a total of 6290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6290000 to 10000 for a total of 6300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6300000 to 10000 for a total of 6310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6310000 to 10000 for a total of 6320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6320000 to 10000 for a total of 6330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6330000 to 10000 for a total of 6340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6340000 to 10000 for a total of 6350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6350000 to 10000 for a total of 6360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6360000 to 10000 for a total of 6370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6370000 to 10000 for a total of 6380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6380000 to 10000 for a total of 6390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6390000 to 10000 for a total of 6400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6400000 to 10000 for a total of 6410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6410000 to 10000 for a total of 6420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6420000 to 10000 for a total of 6430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6430000 to 10000 for a total of 6440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6440000 to 10000 for a total of 6450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6450000 to 10000 for a total of 6460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6460000 to 10000 for a total of 6470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6470000 to 10000 for a total of 6480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6480000 to 10000 for a total of 6490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6490000 to 10000 for a total of 6500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6500000 to 10000 for a total of 6510000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 6510000 to 10000 for a total of 6520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6520000 to 10000 for a total of 6530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6530000 to 10000 for a total of 6540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6540000 to 10000 for a total of 6550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6550000 to 10000 for a total of 6560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6560000 to 10000 for a total of 6570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6570000 to 10000 for a total of 6580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6580000 to 10000 for a total of 6590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6590000 to 10000 for a total of 6600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6600000 to 10000 for a total of 6610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6610000 to 10000 for a total of 6620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6620000 to 10000 for a total of 6630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6630000 to 10000 for a total of 6640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6640000 to 10000 for a total of 6650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6650000 to 10000 for a total of 6660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6660000 to 10000 for a total of 6670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6670000 to 10000 for a total of 6680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6680000 to 10000 for a total of 6690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6690000 to 10000 for a total of 6700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6700000 to 10000 for a total of 6710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6710000 to 10000 for a total of 6720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6720000 to 10000 for a total of 6730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6730000 to 10000 for a total of 6740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6740000 to 10000 for a total of 6750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6750000 to 10000 for a total of 6760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6760000 to 10000 for a total of 6770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6770000 to 10000 for a total of 6780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6780000 to 10000 for a total of 6790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6790000 to 10000 for a total of 6800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6800000 to 10000 for a total of 6810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6810000 to 10000 for a total of 6820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6820000 to 10000 for a total of 6830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6830000 to 10000 for a total of 6840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6840000 to 10000 for a total of 6850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6850000 to 10000 for a total of 6860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6860000 to 10000 for a total of 6870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6870000 to 10000 for a total of 6880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6880000 to 10000 for a total of 6890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6890000 to 10000 for a total of 6900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6900000 to 10000 for a total of 6910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6910000 to 10000 for a total of 6920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6920000 to 10000 for a total of 6930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6930000 to 10000 for a total of 6940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6940000 to 10000 for a total of 6950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6950000 to 10000 for a total of 6960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6960000 to 10000 for a total of 6970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6970000 to 10000 for a total of 6980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6980000 to 10000 for a total of 6990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 6990000 to 10000 for a total of 7000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7000000 to 10000 for a total of 7010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7010000 to 10000 for a total of 7020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7020000 to 10000 for a total of 7030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7030000 to 10000 for a total of 7040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7040000 to 10000 for a total of 7050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7050000 to 10000 for a total of 7060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7060000 to 10000 for a total of 7070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7070000 to 10000 for a total of 7080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7080000 to 10000 for a total of 7090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7090000 to 10000 for a total of 7100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7100000 to 10000 for a total of 7110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7110000 to 10000 for a total of 7120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7120000 to 10000 for a total of 7130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7130000 to 10000 for a total of 7140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7140000 to 10000 for a total of 7150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7150000 to 10000 for a total of 7160000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 7160000 to 10000 for a total of 7170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7170000 to 10000 for a total of 7180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7180000 to 10000 for a total of 7190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7190000 to 10000 for a total of 7200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7200000 to 10000 for a total of 7210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7210000 to 10000 for a total of 7220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7220000 to 10000 for a total of 7230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7230000 to 10000 for a total of 7240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7240000 to 10000 for a total of 7250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7250000 to 10000 for a total of 7260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7260000 to 10000 for a total of 7270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7270000 to 10000 for a total of 7280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7280000 to 10000 for a total of 7290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7290000 to 10000 for a total of 7300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7300000 to 10000 for a total of 7310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7310000 to 10000 for a total of 7320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7320000 to 10000 for a total of 7330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7330000 to 10000 for a total of 7340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7340000 to 10000 for a total of 7350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7350000 to 10000 for a total of 7360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7360000 to 10000 for a total of 7370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7370000 to 10000 for a total of 7380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7380000 to 10000 for a total of 7390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7390000 to 10000 for a total of 7400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7400000 to 10000 for a total of 7410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7410000 to 10000 for a total of 7420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7420000 to 10000 for a total of 7430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7430000 to 10000 for a total of 7440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7440000 to 10000 for a total of 7450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7450000 to 10000 for a total of 7460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7460000 to 10000 for a total of 7470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7470000 to 10000 for a total of 7480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7480000 to 10000 for a total of 7490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7490000 to 10000 for a total of 7500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7500000 to 10000 for a total of 7510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7510000 to 10000 for a total of 7520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7520000 to 10000 for a total of 7530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7530000 to 10000 for a total of 7540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7540000 to 10000 for a total of 7550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7550000 to 10000 for a total of 7560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7560000 to 10000 for a total of 7570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7570000 to 10000 for a total of 7580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7580000 to 10000 for a total of 7590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7590000 to 10000 for a total of 7600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7600000 to 10000 for a total of 7610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7610000 to 10000 for a total of 7620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7620000 to 10000 for a total of 7630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7630000 to 10000 for a total of 7640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7640000 to 10000 for a total of 7650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7650000 to 10000 for a total of 7660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7660000 to 10000 for a total of 7670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7670000 to 10000 for a total of 7680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7680000 to 10000 for a total of 7690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7690000 to 10000 for a total of 7700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7700000 to 10000 for a total of 7710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7710000 to 10000 for a total of 7720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7720000 to 10000 for a total of 7730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7730000 to 10000 for a total of 7740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7740000 to 10000 for a total of 7750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7750000 to 10000 for a total of 7760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7760000 to 10000 for a total of 7770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7770000 to 10000 for a total of 7780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7780000 to 10000 for a total of 7790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7790000 to 10000 for a total of 7800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7800000 to 10000 for a total of 7810000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 7810000 to 10000 for a total of 7820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7820000 to 10000 for a total of 7830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7830000 to 10000 for a total of 7840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7840000 to 10000 for a total of 7850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7850000 to 10000 for a total of 7860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7860000 to 10000 for a total of 7870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7870000 to 10000 for a total of 7880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7880000 to 10000 for a total of 7890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7890000 to 10000 for a total of 7900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7900000 to 10000 for a total of 7910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7910000 to 10000 for a total of 7920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7920000 to 10000 for a total of 7930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7930000 to 10000 for a total of 7940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7940000 to 10000 for a total of 7950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7950000 to 10000 for a total of 7960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7960000 to 10000 for a total of 7970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7970000 to 10000 for a total of 7980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7980000 to 10000 for a total of 7990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 7990000 to 10000 for a total of 8000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8000000 to 10000 for a total of 8010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8010000 to 10000 for a total of 8020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8020000 to 10000 for a total of 8030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8030000 to 10000 for a total of 8040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8040000 to 10000 for a total of 8050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8050000 to 10000 for a total of 8060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8060000 to 10000 for a total of 8070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8070000 to 10000 for a total of 8080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8080000 to 10000 for a total of 8090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8090000 to 10000 for a total of 8100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8100000 to 10000 for a total of 8110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8110000 to 10000 for a total of 8120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8120000 to 10000 for a total of 8130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8130000 to 10000 for a total of 8140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8140000 to 10000 for a total of 8150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8150000 to 10000 for a total of 8160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8160000 to 10000 for a total of 8170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8170000 to 10000 for a total of 8180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8180000 to 10000 for a total of 8190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8190000 to 10000 for a total of 8200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8200000 to 10000 for a total of 8210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8210000 to 10000 for a total of 8220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8220000 to 10000 for a total of 8230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8230000 to 10000 for a total of 8240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8240000 to 10000 for a total of 8250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8250000 to 10000 for a total of 8260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8260000 to 10000 for a total of 8270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8270000 to 10000 for a total of 8280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8280000 to 10000 for a total of 8290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8290000 to 10000 for a total of 8300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8300000 to 10000 for a total of 8310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8310000 to 10000 for a total of 8320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8320000 to 10000 for a total of 8330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8330000 to 10000 for a total of 8340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8340000 to 10000 for a total of 8350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8350000 to 10000 for a total of 8360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8360000 to 10000 for a total of 8370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8370000 to 10000 for a total of 8380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8380000 to 10000 for a total of 8390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8390000 to 10000 for a total of 8400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8400000 to 10000 for a total of 8410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8410000 to 10000 for a total of 8420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8420000 to 10000 for a total of 8430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8430000 to 10000 for a total of 8440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8440000 to 10000 for a total of 8450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8450000 to 10000 for a total of 8460000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 8460000 to 10000 for a total of 8470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8470000 to 10000 for a total of 8480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8480000 to 10000 for a total of 8490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8490000 to 10000 for a total of 8500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8500000 to 10000 for a total of 8510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8510000 to 10000 for a total of 8520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8520000 to 10000 for a total of 8530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8530000 to 10000 for a total of 8540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8540000 to 10000 for a total of 8550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8550000 to 10000 for a total of 8560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8560000 to 10000 for a total of 8570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8570000 to 10000 for a total of 8580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8580000 to 10000 for a total of 8590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8590000 to 10000 for a total of 8600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8600000 to 10000 for a total of 8610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8610000 to 10000 for a total of 8620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8620000 to 10000 for a total of 8630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8630000 to 10000 for a total of 8640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8640000 to 10000 for a total of 8650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8650000 to 10000 for a total of 8660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8660000 to 10000 for a total of 8670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8670000 to 10000 for a total of 8680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8680000 to 10000 for a total of 8690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8690000 to 10000 for a total of 8700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8700000 to 10000 for a total of 8710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8710000 to 10000 for a total of 8720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8720000 to 10000 for a total of 8730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8730000 to 10000 for a total of 8740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8740000 to 10000 for a total of 8750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8750000 to 10000 for a total of 8760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8760000 to 10000 for a total of 8770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8770000 to 10000 for a total of 8780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8780000 to 10000 for a total of 8790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8790000 to 10000 for a total of 8800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8800000 to 10000 for a total of 8810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8810000 to 10000 for a total of 8820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8820000 to 10000 for a total of 8830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8830000 to 10000 for a total of 8840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8840000 to 10000 for a total of 8850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8850000 to 10000 for a total of 8860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8860000 to 10000 for a total of 8870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8870000 to 10000 for a total of 8880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8880000 to 10000 for a total of 8890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8890000 to 10000 for a total of 8900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8900000 to 10000 for a total of 8910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8910000 to 10000 for a total of 8920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8920000 to 10000 for a total of 8930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8930000 to 10000 for a total of 8940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8940000 to 10000 for a total of 8950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8950000 to 10000 for a total of 8960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8960000 to 10000 for a total of 8970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8970000 to 10000 for a total of 8980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8980000 to 10000 for a total of 8990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 8990000 to 10000 for a total of 9000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9000000 to 10000 for a total of 9010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9010000 to 10000 for a total of 9020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9020000 to 10000 for a total of 9030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9030000 to 10000 for a total of 9040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9040000 to 10000 for a total of 9050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9050000 to 10000 for a total of 9060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9060000 to 10000 for a total of 9070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9070000 to 10000 for a total of 9080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9080000 to 10000 for a total of 9090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9090000 to 10000 for a total of 9100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9100000 to 10000 for a total of 9110000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 9110000 to 10000 for a total of 9120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9120000 to 10000 for a total of 9130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9130000 to 10000 for a total of 9140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9140000 to 10000 for a total of 9150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9150000 to 10000 for a total of 9160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9160000 to 10000 for a total of 9170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9170000 to 10000 for a total of 9180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9180000 to 10000 for a total of 9190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9190000 to 10000 for a total of 9200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9200000 to 10000 for a total of 9210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9210000 to 10000 for a total of 9220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9220000 to 10000 for a total of 9230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9230000 to 10000 for a total of 9240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9240000 to 10000 for a total of 9250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9250000 to 10000 for a total of 9260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9260000 to 10000 for a total of 9270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9270000 to 10000 for a total of 9280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9280000 to 10000 for a total of 9290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9290000 to 10000 for a total of 9300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9300000 to 10000 for a total of 9310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9310000 to 10000 for a total of 9320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9320000 to 10000 for a total of 9330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9330000 to 10000 for a total of 9340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9340000 to 10000 for a total of 9350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9350000 to 10000 for a total of 9360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9360000 to 10000 for a total of 9370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9370000 to 10000 for a total of 9380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9380000 to 10000 for a total of 9390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9390000 to 10000 for a total of 9400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9400000 to 10000 for a total of 9410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9410000 to 10000 for a total of 9420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9420000 to 10000 for a total of 9430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9430000 to 10000 for a total of 9440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9440000 to 10000 for a total of 9450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9450000 to 10000 for a total of 9460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9460000 to 10000 for a total of 9470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9470000 to 10000 for a total of 9480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9480000 to 10000 for a total of 9490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9490000 to 10000 for a total of 9500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9500000 to 10000 for a total of 9510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9510000 to 10000 for a total of 9520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9520000 to 10000 for a total of 9530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9530000 to 10000 for a total of 9540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9540000 to 10000 for a total of 9550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9550000 to 10000 for a total of 9560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9560000 to 10000 for a total of 9570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9570000 to 10000 for a total of 9580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9580000 to 10000 for a total of 9590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9590000 to 10000 for a total of 9600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9600000 to 10000 for a total of 9610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9610000 to 10000 for a total of 9620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9620000 to 10000 for a total of 9630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9630000 to 10000 for a total of 9640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9640000 to 10000 for a total of 9650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9650000 to 10000 for a total of 9660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9660000 to 10000 for a total of 9670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9670000 to 10000 for a total of 9680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9680000 to 10000 for a total of 9690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9690000 to 10000 for a total of 9700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9700000 to 10000 for a total of 9710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9710000 to 10000 for a total of 9720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9720000 to 10000 for a total of 9730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9730000 to 10000 for a total of 9740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9740000 to 10000 for a total of 9750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9750000 to 10000 for a total of 9760000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 9760000 to 10000 for a total of 9770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9770000 to 10000 for a total of 9780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9780000 to 10000 for a total of 9790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9790000 to 10000 for a total of 9800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9800000 to 10000 for a total of 9810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9810000 to 10000 for a total of 9820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9820000 to 10000 for a total of 9830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9830000 to 10000 for a total of 9840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9840000 to 10000 for a total of 9850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9850000 to 10000 for a total of 9860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9860000 to 10000 for a total of 9870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9870000 to 10000 for a total of 9880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9880000 to 10000 for a total of 9890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9890000 to 10000 for a total of 9900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9900000 to 10000 for a total of 9910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9910000 to 10000 for a total of 9920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9920000 to 10000 for a total of 9930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9930000 to 10000 for a total of 9940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9940000 to 10000 for a total of 9950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9950000 to 10000 for a total of 9960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9960000 to 10000 for a total of 9970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9970000 to 10000 for a total of 9980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9980000 to 10000 for a total of 9990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 9990000 to 10000 for a total of 10000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10000000 to 10000 for a total of 10010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10010000 to 10000 for a total of 10020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10020000 to 10000 for a total of 10030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10030000 to 10000 for a total of 10040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10040000 to 10000 for a total of 10050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10050000 to 10000 for a total of 10060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10060000 to 10000 for a total of 10070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10070000 to 10000 for a total of 10080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10080000 to 10000 for a total of 10090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10090000 to 10000 for a total of 10100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10100000 to 10000 for a total of 10110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10110000 to 10000 for a total of 10120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10120000 to 10000 for a total of 10130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10130000 to 10000 for a total of 10140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10140000 to 10000 for a total of 10150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10150000 to 10000 for a total of 10160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10160000 to 10000 for a total of 10170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10170000 to 10000 for a total of 10180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10180000 to 10000 for a total of 10190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10190000 to 10000 for a total of 10200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10200000 to 10000 for a total of 10210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10210000 to 10000 for a total of 10220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10220000 to 10000 for a total of 10230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10230000 to 10000 for a total of 10240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10240000 to 10000 for a total of 10250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10250000 to 10000 for a total of 10260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10260000 to 10000 for a total of 10270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10270000 to 10000 for a total of 10280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10280000 to 10000 for a total of 10290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10290000 to 10000 for a total of 10300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10300000 to 10000 for a total of 10310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10310000 to 10000 for a total of 10320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10320000 to 10000 for a total of 10330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10330000 to 10000 for a total of 10340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10340000 to 10000 for a total of 10350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10350000 to 10000 for a total of 10360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10360000 to 10000 for a total of 10370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10370000 to 10000 for a total of 10380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10380000 to 10000 for a total of 10390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10390000 to 10000 for a total of 10400000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 10400000 to 10000 for a total of 10410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10410000 to 10000 for a total of 10420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10420000 to 10000 for a total of 10430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10430000 to 10000 for a total of 10440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10440000 to 10000 for a total of 10450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10450000 to 10000 for a total of 10460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10460000 to 10000 for a total of 10470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10470000 to 10000 for a total of 10480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10480000 to 10000 for a total of 10490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10490000 to 10000 for a total of 10500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10500000 to 10000 for a total of 10510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10510000 to 10000 for a total of 10520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10520000 to 10000 for a total of 10530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10530000 to 10000 for a total of 10540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10540000 to 10000 for a total of 10550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10550000 to 10000 for a total of 10560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10560000 to 10000 for a total of 10570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10570000 to 10000 for a total of 10580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10580000 to 10000 for a total of 10590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10590000 to 10000 for a total of 10600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10600000 to 10000 for a total of 10610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10610000 to 10000 for a total of 10620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10620000 to 10000 for a total of 10630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10630000 to 10000 for a total of 10640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10640000 to 10000 for a total of 10650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10650000 to 10000 for a total of 10660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10660000 to 10000 for a total of 10670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10670000 to 10000 for a total of 10680000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10680000 to 10000 for a total of 10690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10690000 to 10000 for a total of 10700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10700000 to 10000 for a total of 10710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10710000 to 10000 for a total of 10720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10720000 to 10000 for a total of 10730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10730000 to 10000 for a total of 10740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10740000 to 10000 for a total of 10750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10750000 to 10000 for a total of 10760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10760000 to 10000 for a total of 10770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10770000 to 10000 for a total of 10780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10780000 to 10000 for a total of 10790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10790000 to 10000 for a total of 10800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10800000 to 10000 for a total of 10810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10810000 to 10000 for a total of 10820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10820000 to 10000 for a total of 10830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10830000 to 10000 for a total of 10840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10840000 to 10000 for a total of 10850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10850000 to 10000 for a total of 10860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10860000 to 10000 for a total of 10870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10870000 to 10000 for a total of 10880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10880000 to 10000 for a total of 10890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10890000 to 10000 for a total of 10900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10900000 to 10000 for a total of 10910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10910000 to 10000 for a total of 10920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10920000 to 10000 for a total of 10930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10930000 to 10000 for a total of 10940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10940000 to 10000 for a total of 10950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10950000 to 10000 for a total of 10960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10960000 to 10000 for a total of 10970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10970000 to 10000 for a total of 10980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10980000 to 10000 for a total of 10990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 10990000 to 10000 for a total of 11000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11000000 to 10000 for a total of 11010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11010000 to 10000 for a total of 11020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11020000 to 10000 for a total of 11030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11030000 to 10000 for a total of 11040000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 11040000 to 10000 for a total of 11050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11050000 to 10000 for a total of 11060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11060000 to 10000 for a total of 11070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11070000 to 10000 for a total of 11080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11080000 to 10000 for a total of 11090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11090000 to 10000 for a total of 11100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11100000 to 10000 for a total of 11110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11110000 to 10000 for a total of 11120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11120000 to 10000 for a total of 11130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11130000 to 10000 for a total of 11140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11140000 to 10000 for a total of 11150000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11150000 to 10000 for a total of 11160000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11160000 to 10000 for a total of 11170000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11170000 to 10000 for a total of 11180000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11180000 to 10000 for a total of 11190000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11190000 to 10000 for a total of 11200000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11200000 to 10000 for a total of 11210000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11210000 to 10000 for a total of 11220000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11220000 to 10000 for a total of 11230000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11230000 to 10000 for a total of 11240000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11240000 to 10000 for a total of 11250000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11250000 to 10000 for a total of 11260000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11260000 to 10000 for a total of 11270000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11270000 to 10000 for a total of 11280000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11280000 to 10000 for a total of 11290000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11290000 to 10000 for a total of 11300000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11300000 to 10000 for a total of 11310000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11310000 to 10000 for a total of 11320000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11320000 to 10000 for a total of 11330000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11330000 to 10000 for a total of 11340000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11340000 to 10000 for a total of 11350000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11350000 to 10000 for a total of 11360000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11360000 to 10000 for a total of 11370000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11370000 to 10000 for a total of 11380000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11380000 to 10000 for a total of 11390000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11390000 to 10000 for a total of 11400000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11400000 to 10000 for a total of 11410000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11410000 to 10000 for a total of 11420000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11420000 to 10000 for a total of 11430000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11430000 to 10000 for a total of 11440000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11440000 to 10000 for a total of 11450000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11450000 to 10000 for a total of 11460000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11460000 to 10000 for a total of 11470000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11470000 to 10000 for a total of 11480000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11480000 to 10000 for a total of 11490000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11490000 to 10000 for a total of 11500000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11500000 to 10000 for a total of 11510000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11510000 to 10000 for a total of 11520000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11520000 to 10000 for a total of 11530000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11530000 to 10000 for a total of 11540000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11540000 to 10000 for a total of 11550000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11550000 to 10000 for a total of 11560000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11560000 to 10000 for a total of 11570000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11570000 to 10000 for a total of 11580000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11580000 to 10000 for a total of 11590000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11590000 to 10000 for a total of 11600000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11600000 to 10000 for a total of 11610000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11610000 to 10000 for a total of 11620000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11620000 to 10000 for a total of 11630000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11630000 to 10000 for a total of 11640000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11640000 to 10000 for a total of 11650000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11650000 to 10000 for a total of 11660000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11660000 to 10000 for a total of 11670000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11670000 to 10000 for a total of 11680000 rows.
 * mysql+pymysql://root:***@localhost

10000 rows affected.
Moved 10000 rows from 11680000 to 10000 for a total of 11690000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11690000 to 10000 for a total of 11700000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11700000 to 10000 for a total of 11710000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11710000 to 10000 for a total of 11720000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11720000 to 10000 for a total of 11730000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11730000 to 10000 for a total of 11740000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11740000 to 10000 for a total of 11750000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11750000 to 10000 for a total of 11760000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11760000 to 10000 for a total of 11770000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11770000 to 10000 for a total of 11780000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11780000 to 10000 for a total of 11790000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11790000 to 10000 for a total of 11800000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11800000 to 10000 for a total of 11810000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11810000 to 10000 for a total of 11820000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11820000 to 10000 for a total of 11830000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11830000 to 10000 for a total of 11840000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11840000 to 10000 for a total of 11850000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11850000 to 10000 for a total of 11860000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11860000 to 10000 for a total of 11870000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11870000 to 10000 for a total of 11880000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11880000 to 10000 for a total of 11890000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11890000 to 10000 for a total of 11900000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11900000 to 10000 for a total of 11910000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11910000 to 10000 for a total of 11920000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11920000 to 10000 for a total of 11930000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11930000 to 10000 for a total of 11940000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11940000 to 10000 for a total of 11950000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11950000 to 10000 for a total of 11960000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11960000 to 10000 for a total of 11970000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11970000 to 10000 for a total of 11980000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11980000 to 10000 for a total of 11990000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 11990000 to 10000 for a total of 12000000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12000000 to 10000 for a total of 12010000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12010000 to 10000 for a total of 12020000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12020000 to 10000 for a total of 12030000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12030000 to 10000 for a total of 12040000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12040000 to 10000 for a total of 12050000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12050000 to 10000 for a total of 12060000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12060000 to 10000 for a total of 12070000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12070000 to 10000 for a total of 12080000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12080000 to 10000 for a total of 12090000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12090000 to 10000 for a total of 12100000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12100000 to 10000 for a total of 12110000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12110000 to 10000 for a total of 12120000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12120000 to 10000 for a total of 12130000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12130000 to 10000 for a total of 12140000 rows.
 * mysql+pymysql://root:***@localhost
10000 rows affected.
Moved 10000 rows from 12140000 to 10000 for a total of 12150000 rows.
 * mysql+pymysql://root:***@localhost
3584 rows affected.
Moved 3584 rows from 12150000 to 10000 for a total of 12153584 rows.

__Note:__ Be careful with long outputs from cells. In the notebook, Jupyter shows just a window on the output. _If you print or save you notebook as PDF, you will get dozens of pages._

- Let's take a look at the data.

In [74]:
%sql select * from s24_imdb_clean.name_basics_clean limit 100;

 * mysql+pymysql://root:***@localhost
100 rows affected.

[(None, 'Fred', None, 'Astaire', None, None, 'nm0000001'),
 (None, 'Lauren', None, 'Bacall', None, None, 'nm0000002'),
 (None, 'Brigitte', None, 'Bardot', None, None, 'nm0000003'),
 (None, 'John', None, 'Belushi', None, None, 'nm0000004'),
 (None, 'Ingmar', None, 'Bergman', None, None, 'nm0000005'),
 (None, 'Ingrid', None, 'Bergman', None, None, 'nm0000006'),
 (None, 'Humphrey', None, 'Bogart', None, None, 'nm0000007'),
 (None, 'Marlon', None, 'Brando', None, None, 'nm0000008'),
 (None, 'Richard', None, 'Burton', None, None, 'nm0000009'),
 (None, 'James', None, 'Cagney', None, None, 'nm0000010'),
 (None, 'Gary', None, 'Cooper', None, None, 'nm0000011'),
 (None, 'Bette', None, 'Davis', None, None, 'nm0000012'),
 (None, 'Doris', None, 'Day', None, None, 'nm0000013'),
 (None, 'Olivia', None, 'de Havilland', None, None, 'nm0000014'),
 (None, 'James', None, 'Dean', None, None, 'nm0000015'),
 (None, 'Georges', None, 'Delerue', None, None, 'nm0000016'),
 (None, 'Marlene', None, 'Dietrich', None, None, 'nm0000017'),
 (None, 'Kirk', None, 'Douglas', None, None, 'nm0000018'),
 (None, 'Federico', None, 'Fellini', None, None, 'nm0000019'),
 (None, 'Henry', None, 'Fonda', None, None, 'nm0000020'),
 (None, 'Joan', None, 'Fontaine', None, None, 'nm0000021'),
 (None, 'Clark', None, 'Gable', None, None, 'nm0000022'),
 (None, 'Judy', None, 'Garland', None, None, 'nm0000023'),
 (None, 'John', None, 'Gielgud', None, None, 'nm0000024'),
 (None, 'Jerry', None, 'Goldsmith', None, None, 'nm0000025'),
 (None, 'Cary', None, 'Grant', None, None, 'nm0000026'),
 (None, 'Alec', None, 'Guinness', None, None, 'nm0000027'),
 (None, 'Rita', None, 'Hayworth', None, None, 'nm0000028'),
 (None, 'Margaux', None, 'Hemingway', None, None, 'nm0000029'),
 (None, 'Audrey', None, 'Hepburn', None, None, 'nm0000030'),
 (None, 'Katharine', None, 'Hepburn', None, None, 'nm0000031'),
 (None, 'Charlton', None, 'Heston', None, None, 'nm0000032'),
 (None, 'Alfred', None, 'Hitchcock', None, None, 'nm0000033'),
 (None, 'William', None, 'Holden', None, None, 'nm0000034'),
 (None, 'James', None, 'Horner', None, None, 'nm0000035'),
 (None, 'Buster', None, 'Keaton', None, None, 'nm0000036'),
 (None, 'Gene', None, 'Kelly', None, None, 'nm0000037'),
 (None, 'Grace', None, 'Kelly', None, None, 'nm0000038'),
 (None, 'Deborah', None, 'Kerr', None, None, 'nm0000039'),
 (None, 'Stanley', None, 'Kubrick', None, None, 'nm0000040'),
 (None, 'Akira', None, 'Kurosawa', None, None, 'nm0000041'),
 (None, 'Alan', None, 'Ladd', None, None, 'nm0000042'),
 (None, 'Veronica', None, 'Lake', None, None, 'nm0000043'),
 (None, 'Burt', None, 'Lancaster', None, None, 'nm0000044'),
 (None, 'Bruce', None, 'Lee', None, None, 'nm0000045'),
 (None, 'Vivien', None, 'Leigh', None, None, 'nm0000046'),
 (None, 'Sophia', None, 'Loren', None, None, 'nm0000047'),
 (None, 'Peter', None, 'Lorre', None, None, 'nm0000048'),
 (None, 'Henry', None, 'Mancini', None, None, 'nm0000049'),
 (None, 'Groucho', None, 'Marx', None, None, 'nm0000050'),
 (None, 'James', None, 'Mason', None, None, 'nm0000051'),
 (None, 'Marcello', None, 'Mastroianni', None, None, 'nm0000052'),
 (None, 'Robert', None, 'Mitchum', None, None, 'nm0000053'),
 (None, 'Marilyn', None, 'Monroe', None, None, 'nm0000054'),
 (None, 'Alfred', None, 'Newman', None, None, 'nm0000055'),
 (None, 'Paul', None, 'Newman', None, None, 'nm0000056'),
 (None, 'David', None, 'Niven', None, None, 'nm0000057'),
 (None, 'Maureen', None, "O'Hara", None, None, 'nm0000058'),
 (None, 'Laurence', None, 'Olivier', None, None, 'nm0000059'),
 (None, 'Gregory', None, 'Peck', None, None, 'nm0000060'),
 (None, 'Tyrone', None, 'Power', None, None, 'nm0000061'),
 (None, 'Elvis', None, 'Presley', None, None, 'nm0000062'),
 (None, 'Anthony', None, 'Quinn', None, None, 'nm0000063'),
 (None, 'Edward', 'G.', 'Robinson', None, None, 'nm0000064'),
 (None, 'Nino', None, 'Rota', None, None, 'nm0000065'),
 (None, 'Jane', None, 'Russell', None, None, 'nm0000066'),
 (None, 'Miklós', None, 'Rózsa', None, None, 'nm0000067'),
 (None, 'Randolph', None, 'Scott', None, None, 'nm0000068'),
 (None, 'Frank', None, 'Sinatra', None, None, 'nm0000069'),
 (None, 'Max', None, 'Steiner', None, None, 'nm0000070'),
 (None, 'James', None, 'Stewart', None, None, 'nm0000071'),
 (None, 'Elizabeth', None, 'Taylor', None, None, 'nm0000072'),
 (None, 'Shirley', None, 'Temple', None, None, 'nm0000073'),
 (None, 'Gene', None, 'Tierney', None, None, 'nm0000074'),
 (None, 'Spencer', None, 'Tracy', None, None, 'nm0000075'),
 (None, 'François', None, 'Truffaut', None, None, 'nm0000076'),
 (None, 'Franz', None, 'Waxman', None, None, 'nm0000077'),
 (None, 'John', None, 'Wayne', None, None, 'nm0000078'),
 (None, 'Raquel', None, 'Welch', None, None, 'nm0000079'),
 (None, 'Orson', None, 'Welles', None, None, 'nm0000080'),
 (None, 'Natalie', None, 'Wood', None, None, 'nm0000081'),
 (None, 'Victor', None, 'Young', None, None, 'nm0000082'),
 (None, 'Alan', None, 'Miller', None, None, 'nm0000083'),
 (None, 'Gong', None, 'Li', None, None, 'nm0000084'),
 (None, 'Henner', None, 'Hofmann', None, None, 'nm0000085'),
 (None, 'Louis', None, 'de Funès', None, None, 'nm0000086'),
 (None, 'Elena', None, 'Koreneva', None, None, 'nm0000087'),
 (None, 'Aleksey', None, 'Korenev', None, None, 'nm0000088'),
 (None, 'Richard', None, 'Paul', None, None, 'nm0000089'),
 (None, 'Armin', None, 'Mueller-Stahl', None, None, 'nm0000090'),
 (None, 'Gérard', None, 'Pirès', None, None, 'nm0000091'),
 (None, 'John', None, 'Cleese', None, None, 'nm0000092'),
 (None, 'Brad', None, 'Pitt', None, None, 'nm0000093'),
 (None, 'J.', None, 'Reifel', None, None, 'nm0000094'),
 (None, 'Woody', None, 'Allen', None, None, 'nm0000095'),
 (None, 'Gillian', None, 'Anderson', None, None, 'nm0000096'),
 (None, 'Pamela', None, 'Anderson', None, None, 'nm0000097'),
 (None, 'Jennifer', None, 'Aniston', None, None, 'nm0000098'),
 (None, 'Patricia', None, 'Arquette', None, None, 'nm0000099'),
 (None, 'Rowan', None, 'Atkinson', None, None, 'nm0000100')]

- Let's do some cleanup.

In [75]:
%%sql

alter table name_basics_clean
    modify nconst varchar(16) not null primary key;

 * mysql+pymysql://root:***@localhost
12153584 rows affected.

[]

In [77]:
%%sql

alter table name_basics_clean
    change first first_name varchar(128) null,
    change last last_name varchar(128) null,
    change middle middle_name varchar(128) null,
    modify nickname varchar(128),
    modify suffix varchar(64) null,
    modify title varchar(64) null;

 * mysql+pymysql://root:***@localhost
12153584 rows affected.

[]

In [78]:
%sql select * from name_basics_clean limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[(None, 'Fred', None, 'Astaire', None, None, 'nm0000001'),
 (None, 'Lauren', None, 'Bacall', None, None, 'nm0000002'),
 (None, 'Brigitte', None, 'Bardot', None, None, 'nm0000003'),
 (None, 'John', None, 'Belushi', None, None, 'nm0000004'),
 (None, 'Ingmar', None, 'Bergman', None, None, 'nm0000005'),
 (None, 'Ingrid', None, 'Bergman', None, None, 'nm0000006'),
 (None, 'Humphrey', None, 'Bogart', None, None, 'nm0000007'),
 (None, 'Marlon', None, 'Brando', None, None, 'nm0000008'),
 (None, 'Richard', None, 'Burton', None, None, 'nm0000009'),
 (None, 'James', None, 'Cagney', None, None, 'nm0000010'),
 (None, 'Gary', None, 'Cooper', None, None, 'nm0000011'),
 (None, 'Bette', None, 'Davis', None, None, 'nm0000012'),
 (None, 'Doris', None, 'Day', None, None, 'nm0000013'),
 (None, 'Olivia', None, 'de Havilland', None, None, 'nm0000014'),
 (None, 'James', None, 'Dean', None, None, 'nm0000015'),
 (None, 'Georges', None, 'Delerue', None, None, 'nm0000016'),
 (None, 'Marlene', None, 'Dietrich', None, None, 'nm0000017'),
 (None, 'Kirk', None, 'Douglas', None, None, 'nm0000018'),
 (None, 'Federico', None, 'Fellini', None, None, 'nm0000019'),
 (None, 'Henry', None, 'Fonda', None, None, 'nm0000020')]

## Clean Up Multi-Value Attribute primaryProfession

- There are a lot of string manipulation functions in SQL, most of which do the obvious things.<br><br>
- Let's figure how many elements are in the comma list in ```primaryProfession.```

In [79]:
%%sql

select
    length(primaryProfession) - length(replace(primaryProfession, ',', '')) as no_of_commas,
    primaryProfession, length(primaryProfession) primaryProfessionLength,
    replace(primaryProfession, ',', '') as no_commas_primaryProfession,
    length(replace(primaryProfession, ',', '')) as no_commas_primaryProfession_length

from
    name_basics
limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[(2, 'soundtrack,actor,miscellaneous', 30, 'soundtrackactormiscellaneous', 28),
 (1, 'actress,soundtrack', 18, 'actresssoundtrack', 17),
 (2, 'actress,soundtrack,music_department', 35, 'actresssoundtrackmusic_department', 33),
 (2, 'actor,soundtrack,writer', 23, 'actorsoundtrackwriter', 21),
 (2, 'writer,director,actor', 21, 'writerdirectoractor', 19),
 (2, 'actress,soundtrack,producer', 27, 'actresssoundtrackproducer', 25),
 (2, 'actor,soundtrack,producer', 25, 'actorsoundtrackproducer', 23),
 (2, 'actor,soundtrack,director', 25, 'actorsoundtrackdirector', 23),
 (2, 'actor,soundtrack,producer', 25, 'actorsoundtrackproducer', 23),
 (2, 'actor,soundtrack,director', 25, 'actorsoundtrackdirector', 23),
 (2, 'actor,soundtrack,stunts', 23, 'actorsoundtrackstunts', 21),
 (2, 'actress,soundtrack,make_up_department', 37, 'actresssoundtrackmake_up_department', 35),
 (2, 'soundtrack,actress,producer', 27, 'soundtrackactressproducer', 25),
 (1, 'actress,soundtrack', 18, 'actresssoundtrack', 17),
 (1, 'actor,miscellaneous', 19, 'actormiscellaneous', 18),
 (2, 'composer,soundtrack,music_department', 36, 'composersoundtrackmusic_department', 34),
 (2, 'soundtrack,actress,music_department', 35, 'soundtrackactressmusic_department', 33),
 (2, 'actor,producer,soundtrack', 25, 'actorproducersoundtrack', 23),
 (2, 'writer,director,actor', 21, 'writerdirectoractor', 19),
 (2, 'actor,producer,soundtrack', 25, 'actorproducersoundtrack', 23)]

In [80]:
%%sql

with one as (
select
        length(primaryProfession) - length(replace(primaryProfession, ',', '')) as no_of_commas,
    primaryProfession, length(primaryProfession) primaryProfessionLength,
    replace(primaryProfession, ',', '') as no_commas_primaryProfession,
    length(replace(primaryProfession, ',', '')) as no_commas_primaryProfession_length

from
    name_basics)
select max(no_of_commas) from one;

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(2,)]

- Let's see if we can break it apart.

In [83]:
%%sql

with one as (select
    nconst,
    primaryProfession,
    substr(primaryProfession, 1, locate(',', primaryProfession)-1) as p1,
    substr(primaryProfession, locate(',', primaryProfession)+1) as remainder
from
    name_basics),
    two as (
        select nconst, primaryProfession, p1,
               substr(remainder, 1, locate(',', remainder)-1) as p2,
               substr(remainder, locate(',', remainder)+1) as p3
        from
            one
    ),
    three as (
        select nconst,
               primaryProfession,
               if(p1='', NULL, p1) as p1,
               if(p2='', NULL, p2) as p2,
               if(p1='', NULL, p3) as p3
        from two
    )
select * from three limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('nm0000001', 'soundtrack,actor,miscellaneous', 'soundtrack', 'actor', 'miscellaneous'),
 ('nm0000002', 'actress,soundtrack', 'actress', None, 'soundtrack'),
 ('nm0000003', 'actress,soundtrack,music_department', 'actress', 'soundtrack', 'music_department'),
 ('nm0000004', 'actor,soundtrack,writer', 'actor', 'soundtrack', 'writer'),
 ('nm0000005', 'writer,director,actor', 'writer', 'director', 'actor'),
 ('nm0000006', 'actress,soundtrack,producer', 'actress', 'soundtrack', 'producer'),
 ('nm0000007', 'actor,soundtrack,producer', 'actor', 'soundtrack', 'producer'),
 ('nm0000008', 'actor,soundtrack,director', 'actor', 'soundtrack', 'director'),
 ('nm0000009', 'actor,soundtrack,producer', 'actor', 'soundtrack', 'producer'),
 ('nm0000010', 'actor,soundtrack,director', 'actor', 'soundtrack', 'director'),
 ('nm0000011', 'actor,soundtrack,stunts', 'actor', 'soundtrack', 'stunts'),
 ('nm0000012', 'actress,soundtrack,make_up_department', 'actress', 'soundtrack', 'make_up_department'),
 ('nm0000013', 'soundtrack,actress,producer', 'soundtrack', 'actress', 'producer'),
 ('nm0000014', 'actress,soundtrack', 'actress', None, 'soundtrack'),
 ('nm0000015', 'actor,miscellaneous', 'actor', None, 'miscellaneous'),
 ('nm0000016', 'composer,soundtrack,music_department', 'composer', 'soundtrack', 'music_department'),
 ('nm0000017', 'soundtrack,actress,music_department', 'soundtrack', 'actress', 'music_department'),
 ('nm0000018', 'actor,producer,soundtrack', 'actor', 'producer', 'soundtrack'),
 ('nm0000019', 'writer,director,actor', 'writer', 'director', 'actor'),
 ('nm0000020', 'actor,producer,soundtrack', 'actor', 'producer', 'soundtrack')]

- That is still not all that cool ... ... It kind of assumes that will never have more than 3.<br><br>
- A better design is ... ...

In [85]:
%%sql

with one as (select
    nconst,
    primaryProfession,
    substr(primaryProfession, 1, locate(',', primaryProfession)-1) as p1,
    substr(primaryProfession, locate(',', primaryProfession)+1) as remainder
from
    name_basics),
    two as (
        select nconst, primaryProfession, p1,
               substr(remainder, 1, locate(',', remainder)-1) as p2,
               substr(remainder, locate(',', remainder)+1) as p3
        from
            one
    ),
    three as (
        select nconst,
               primaryProfession,
               if(p1='', NULL, p1) as p1,
               if(p2='', NULL, p2) as p2,
               if(p1='', NULL, p3) as p3
        from two
    ),
    four as (
        select nconst, p1 as profession from three where p1 is not NULL
    ),
    five as (
        select nconst, p2 as profession from three where p2 is not NULL
    ),
    six as (
        select nconst, p3 as profession from three where p3 is not NULL
    ),
    seven as (
select * from four
union
select * from five
union
select * from six)
select * from seven order by nconst limit 20;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('nm0000001', 'soundtrack'),
 ('nm0000001', 'miscellaneous'),
 ('nm0000001', 'actor'),
 ('nm0000002', 'actress'),
 ('nm0000002', 'soundtrack'),
 ('nm0000003', 'actress'),
 ('nm0000003', 'music_department'),
 ('nm0000003', 'soundtrack'),
 ('nm0000004', 'actor'),
 ('nm0000004', 'writer'),
 ('nm0000004', 'soundtrack'),
 ('nm0000005', 'writer'),
 ('nm0000005', 'actor'),
 ('nm0000005', 'director'),
 ('nm0000006', 'actress'),
 ('nm0000006', 'producer'),
 ('nm0000006', 'soundtrack'),
 ('nm0000007', 'actor'),
 ('nm0000007', 'producer'),
 ('nm0000007', 'soundtrack')]

In [86]:
%%sql

create table nconst_profession as 
with one as (select
    nconst,
    primaryProfession,
    substr(primaryProfession, 1, locate(',', primaryProfession)-1) as p1,
    substr(primaryProfession, locate(',', primaryProfession)+1) as remainder
from
    name_basics),
    two as (
        select nconst, primaryProfession, p1,
               substr(remainder, 1, locate(',', remainder)-1) as p2,
               substr(remainder, locate(',', remainder)+1) as p3
        from
            one
    ),
    three as (
        select nconst,
               primaryProfession,
               if(p1='', NULL, p1) as p1,
               if(p2='', NULL, p2) as p2,
               if(p1='', NULL, p3) as p3
        from two
    ),
    four as (
        select nconst, p1 as profession from three where p1 is not NULL
    ),
    five as (
        select nconst, p2 as profession from three where p2 is not NULL
    ),
    six as (
        select nconst, p3 as profession from three where p3 is not NULL
    ),
    seven as (
select * from four
union
select * from five
union
select * from six)
select * from seven;

 * mysql+pymysql://root:***@localhost
6039325 rows affected.

[]

- We probably should do some constraints.

In [88]:
%%sql

alter table nconst_profession
    modify profession varchar(64) null;

alter table nconst_profession
    add constraint nconst_profession_pk
        primary key (nconst, profession);

 * mysql+pymysql://root:***@localhost
6039325 rows affected.
0 rows affected.

[]

In [89]:
%%sql

alter table nconst_profession
    add constraint nconst_profession_name_basics_clean_nconst_fk
        foreign key (nconst) references name_basics_clean (nconst);

 * mysql+pymysql://root:***@localhost
6039325 rows affected.

[]

- I sort of wound up with something like ... ...

| <img src="./transformed_professions.jpg"> |
| :---: |
| __Transformed Data Model__ |

## Sumary

- We cleaned up to issues:
    - ```primaryName``` is a composite converted to a set of atomic attributes.
    - ```primaryProfession``` converted from multi-valued to association.<br><br>
- This work is something that the non-programming track needs to handle their assignments.

## Generated Attributes

In [91]:
%%sql 

use class_example;

select * from mock_course;

 * mysql+pymysql://root:***@localhost
0 rows affected.
20 rows affected.

[('ECON', 'C', '3807', 'ullamcorper augue a'),
 ('DSCI', 'G', '7713', 'non mattis pulvinar nulla'),
 ('COMS', 'B', '8290', 'quam turpis adipiscing lorem vitae'),
 ('EENG', 'G', '0716', 'potenti nullam porttitor lacus at'),
 ('DSCI', 'C', '3467', 'justo nec condimentum neque sapien placerat'),
 ('EENG', 'E', '6697', 'rhoncus aliquam lacus morbi quis'),
 ('DSCI', 'B', '8377', 'massa id lobortis convallis tortor risus'),
 ('EENG', 'C', '4748', 'erat eros viverra eget congue'),
 ('EENG', 'G', '2014', 'odio elementum eu interdum eu'),
 ('DSCI', 'W', '3777', 'in libero ut massa volutpat'),
 ('MATH', 'E', '9137', 'porttitor id consequat in consequat ut'),
 ('EENG', 'G', '0924', 'fusce lacus purus aliquet'),
 ('EENG', 'E', '0381', 'duis ac nibh fusce'),
 ('DSCI', 'C', '7791', 'tortor sollicitudin mi sit amet'),
 ('COMS', 'E', '5590', 'venenatis tristique fusce'),
 ('COMS', 'G', '1003', 'vitae consectetuer eget'),
 ('EENG', 'E', '7501', 'sed interdum venenatis'),
 ('MATH', 'E', '1153', 'ut erat id mauris'),
 ('EENG', 'W', '1400', 'est donec odio justo sollicitudin'),
 ('DSCI', 'W', '4318', 'mollis molestie lorem quisque')]

- I would like a generated full course number and a created timestamp.<br><br>
- Most databases support various types of generated columns.

In [94]:
%%sql

use class_example;

drop table if exists mock_course_full;

create table mock_course_full like mock_course;

alter table mock_course_full
    add full_course_number varchar(32) as (concat(dept_code, faculty_code, course_number)) stored;

alter table mock_course_full
    add created_timestamp TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP;
    
/* 
    This only works for stored, generated columns.
*/
alter table mock_course_full
    add constraint mock_course_full_pk
        primary key (full_course_number);
        
insert into mock_course_full(dept_code, faculty_code, course_number, course_name)
    select * from mock_course;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
20 rows affected.

[]

In [95]:
%sql select * from mock_course_full;

 * mysql+pymysql://root:***@localhost
20 rows affected.

[('COMS', 'B', '8290', 'quam turpis adipiscing lorem vitae', 'COMSB8290', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('COMS', 'E', '5590', 'venenatis tristique fusce', 'COMSE5590', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('COMS', 'G', '1003', 'vitae consectetuer eget', 'COMSG1003', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('DSCI', 'B', '8377', 'massa id lobortis convallis tortor risus', 'DSCIB8377', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('DSCI', 'C', '3467', 'justo nec condimentum neque sapien placerat', 'DSCIC3467', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('DSCI', 'C', '7791', 'tortor sollicitudin mi sit amet', 'DSCIC7791', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('DSCI', 'G', '7713', 'non mattis pulvinar nulla', 'DSCIG7713', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('DSCI', 'W', '3777', 'in libero ut massa volutpat', 'DSCIW3777', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('DSCI', 'W', '4318', 'mollis molestie lorem quisque', 'DSCIW4318', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('ECON', 'C', '3807', 'ullamcorper augue a', 'ECONC3807', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'C', '4748', 'erat eros viverra eget congue', 'EENGC4748', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'E', '0381', 'duis ac nibh fusce', 'EENGE0381', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'E', '6697', 'rhoncus aliquam lacus morbi quis', 'EENGE6697', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'E', '7501', 'sed interdum venenatis', 'EENGE7501', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'G', '0716', 'potenti nullam porttitor lacus at', 'EENGG0716', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'G', '0924', 'fusce lacus purus aliquet', 'EENGG0924', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'G', '2014', 'odio elementum eu interdum eu', 'EENGG2014', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('EENG', 'W', '1400', 'est donec odio justo sollicitudin', 'EENGW1400', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('MATH', 'E', '1153', 'ut erat id mauris', 'MATHE1153', datetime.datetime(2024, 2, 8, 14, 14, 40)),
 ('MATH', 'E', '9137', 'porttitor id consequat in consequat ut', 'MATHE9137', datetime.datetime(2024, 2, 8, 14, 14, 40))]

In [96]:
%sql describe mock_course_full;

 * mysql+pymysql://root:***@localhost
6 rows affected.

[('dept_code', 'varchar(4)', 'YES', '', None, ''),
 ('faculty_code', 'char(1)', 'YES', '', None, ''),
 ('course_number', 'char(4)', 'YES', '', None, ''),
 ('course_name', 'varchar(64)', 'YES', '', None, ''),
 ('full_course_number', 'varchar(32)', 'NO', 'PRI', None, 'STORED GENERATED'),
 ('created_timestamp', 'timestamp', 'YES', '', 'CURRENT_TIMESTAMP', 'DEFAULT_GENERATED on update CURRENT_TIMESTAMP')]